In [1]:
# Here import all necessaary libraries
import numpy as np
import pandas as pd
import ast #for create list from string

In [2]:
# Import the dataset here
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'tmdb_5000_movies.csv'

Data preprossesing here

In [326]:
# Merge two datas using the id and title
# movies = pd.merge(movies,creadits, left_on=['id', 'title'], right_on=['movie_id','title'], how='inner')
# movies.shape
# movies.head()

movies = movies.merge(credits, on='title')
# movies.head()

In [328]:
# Remove un-necessary column
""" needed columns {
    genres,
    movie_id,
    keywords/tags,
    title,
    overview,
    cast,
    crew
}"""

movies = movies[['movie_id', 'genres','keywords','title','overview','cast','crew']]
movies.shape

(4809, 7)

In [330]:
# missing data
movies.isnull().sum()
movies.dropna(inplace=True)

In [203]:
# movies.iloc[0].genres
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# ["Action","Adventure","Fantasy","SciFi"]

In [290]:
# create a helper function to convert the data to a simple list like this
"""
    '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
    ["Action","Adventure","Fantasy","SciFi"]
"""

def convert(obj):
    lists = []   
    for i in ast.literal_eval(obj):
        lists.append(i['name'])
    return lists

In [334]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [338]:
def convert3(obj):
    lists = []  
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            lists.append(i['name'])
            counter += 1
        else:
            break
    return lists

In [340]:
movies['cast'] = movies['cast'].apply(convert3)

In [360]:
def fetch_director(obj):
    lists = []   
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            lists.append(i['name'])
            break
    return lists

In [362]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [370]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [368]:
# convert overview ( string -> list)
movies['overview'] = movies['overview'].apply(lambda x:x.split())